/*ALL Sections*/

* {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background-color: #FDFFE0;
}

/*Navigation Section*/
.menu {
    margin-top: 150px;
}

.menu-toggle {
    display: none;
}

.nav {
    display: inline;
}

.logo {
    position:absolute;
    margin-top: -140px;
    background-color: #FDFFE0;
    padding: 5px;
    border-radius: 10px;
}

.nav_list {
    padding: 10px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px;
}

.nav_list_items2 {
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
}

.nav_list_items3 {
    display: none;
    font-size: 25px;
    font-weight: 600;
}

.nav_list_items {
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    
}

a {
    text-decoration: none;
    color: #1a1a1a;
    transition: 0.5s ease;
}

nav:hover {
    background-color: white;
    transition: 0.3s ease;
}

nav:hover li a {
    color: brown;
    margin-top: 40px;
    /*text-decoration: underline;*/
  }

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}



/*Introduction Section*/

.signature {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 300;
    font-size: 100px;
    align-items: center;
    padding: 70px;
    
}

.topnav .icon {
    display: none;
  }

/*.intro_img {
    width: 100%;
    height: 600px;
    margin: 20px;
    padding: 0px;
    justify-content: space-between;
    margin-left: 150px;
}*/

.intro_img {
    background-image: url("./hands_sewing.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}

.mobile_img_index {
    display: none;
}

.intro_img_shop {
    background-image: url("./shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}
.intro_img_collections {
    background-image: url("./whitw_pink_red.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}
.signature3 {
    color: pink;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 300;
    font-size: 100px;
    align-items: center;
    padding: 70px;
}

.intro_subsection {
    padding: 10px;
    display: flex;
}

.link_button {
    background-color: #DBEBCC;
    text-align: center;
    padding: 20px;
    width: 80px;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
}

.link_button:hover {
    background-color: #646B5D;
    color: white;
    transition: 0.5s ease;
}


/*Footer Section*/
footer{
    background-color: #646B5D;
}

.google_map {
    width:600;
    height:450;
}

.footer_section {
    background-color: #646B5D;
    display: flex;
    margin: 50px;
    font-size: 20px;
    line-height: 40px;
}

.footer_info {
    list-style-type: none;
}

.list_header_footer {
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
}

.footer_info:hover 
a:hover  {
    color: white;
    transition: 0.5s ease;
}

.footer_info_social li {
    list-style-type: none;
    margin: 20px;
    display: flex;
}

.footer_info_social:hover
a:hover {
    color: white;
    transition: 0.5s ease;
    margin: 10px;
}

/*Collection Section*/

.collection_section {
    display: inline;
    align-content: center;
    height: 800px;
    width: 100%;
}

.collection_box {
    display: flex;
    justify-content: center;
    /*display: flex;
    padding: 20px;
    align-self: center;*/
}

.collection_text {
    font-size: 50px;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
}

.collection_box_items {
    width: 390px;
    height: 500px;
    margin: 5px;
    position: cover;
    object-fit:cover;
    object-position:50% 50%;
}

.collection_box_items2 {
    width: 390px;
    height: 500px;
    margin: 5px;
    position: cover;
    object-fit:cover;
    object-position:50% 50%;
}

.link_button2 {
    background-color: #DBEBCC;
    text-align: center;
    padding: 20px;
    width: 100px;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
}

a:hover 
.link_button2:hover {
    background-color: #646B5D;
    color: white;
    transition: 0.5s ease;
}

/*Our Quality*/

.icon_quality {
    width: 30px;
    height: 30px;
}

.quality_section {
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.icon {
    padding: 20px; 
}

.icon_text {
    text-align: center;
    font-size: 20px;
}

/*Mobile Version*/
@media only screen and (max-width: 1000px){
    /*Navigation Section*/
    .nav_list_items2 {
        display: none;
    }
    .nav_list_items3 {
        display: block;
        font-size: 100px;
        font-weight: 300;
        padding: 40px 0px 40px 0px;
    }
    .nav_list_items {
        display: block;
        font-size: 90px;
        font-weight: 300;
        padding: 40px 0px 40px 0px;
    }
    .nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #FDFFE0;
        margin: 0px;
        /*height: 100px;*/
    }
    .nav_list {
        display:none;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }

    .menu {
        margin: 0px;
        background-color: #FDFFE0;
    }

    #nav-list {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #FDFFE0;
        color: #FDFFE0;
        width: 900px;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
      }
      #nav-list1 {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #FDFFE0;
        color: #FDFFE0;
        width: 300px;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
      }

      #nav-list1.show {
        transform: translateX(0%);
        right: auto;
        left: 0;
        background-color: #FDFFE0;
      }
      
      #nav-list.show {
        transform: translateX(0%);
        right: auto;
        left: 0;
        background-color: #FDFFE0;
      }
      

    .logo {
        display: none;
    }

    .hamburger {
        background-color: #FDFFE0;
        display: block;
        border: 0;
        color: black;
        font-size: 100px;
        margin: 5px;
        align-self: flex-end;
    }
    
    
    ul.show {
        display: block;
        background-color: #FDFFE0;
        height: 500px;
        transform: translateX(0%);
        right: auto;
        left: 0;
        line-height: 100px;
    }

    /*Collection Section*/
    .signature {
        font-size: 100px;
        color: black;
    }
    .collection_section {
        align-content: center;
        height: 5500px;
    }
    .collection_text{
        font-size: 100px;
    }
    .collection_box_items {
        width: 100%;
        height: 100%;
    }
    .collection_box_items2{
        width: 100%;
        height: 100%;
    }
    .collection_box {
        display: inline;
    }
    .link_button2 {
        font-size: 50px;
        width: 400px;
        height: 65px;
    }
    /*Our Quality Section*/
    .quality_section {
        margin: 0px;
        height: 500px;
    }
    /*Footer Section*/
    .footer_section {
        display: inline;
        margin: 0%;
    }
    .mobile_img_index {
        display: inline;
    }
    .img_mobile {
        width: 100%;
    }
    .intro_img {
        display: none;
    }
    .intro_img_partners{
        display: none;
    }
    .intro_img_partners2 {
        display: none;
    }
    .intro_img_partners3 {
        display: none;
    }
    .intro_img_blazer {
        display: none;
    }
    .intro_img_career {
        display: none;
    }
    .intro_img_career2 {
        display: none;
    }
    .intro_img_career3 {
        display: none;
    }
    .intro_img_career4 {
        display: none;
    }
    .intro_img_collections {
        display: none;
    }
    .intro_img_mission {
        display: none;
    }
    .intro_img_mission2 {
        display: none;
    }
    .intro_img_press {
        display: none;
    }
    iframe {
        width: 100%;
        height: 800px;
    }
    footer {
        display: inline;
        height: 3000px;
    }
    .footer_section {
        line-height: 100px;
    }
    .list_header_footer {
        font-size: 70px;
        margin: 10px;
    }
    .footer_info {
        font-size: 80px;
    }
    .footer_info_social {
        font-size: 80px;
        display: flex;
    }
    .icon {
        display: flex;
        margin-top: 100px;
    }
    .mission_section_img2 {
        height: auto;
    }
    .google_map {
        width:100%;
        height:600;
    }

    .pp {
        margin: 0%;
    }
    .pp_table {
        width: 550px;
    }
    .press_img_section {
        display: flex;
    }
    
}

/*Career Page*/
.intro_img_career {
    background-image: url("./hard_workers.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}
.intro_img_career2 {
    background-image: url("./hands_sewing_closeup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}
.intro_img_career3 {
    background-image: url("./cultural_women.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}
.intro_img_career4 {
    background-image: url("./tailors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}

.career_text {
    margin: 10px;
    font-size: 30px;
}

/*Brand Partners Page*/
.intro_img_partners {
    background-image: url("./partners.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color: brown;
}
.intro_img_partners2 {
    background-image: url("./partners2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color: white;
}
.intro_img_partners3 {
    background-image: url("./partners3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color: white;
}
.shopping_district {
    margin: 20px;
    padding: 20px;
    background-color: white;
    
}
.shop_row {
    margin: 0px;
    display: flex;
    padding: 0px ;
    display: flex;
    justify-content: center;
}
.brand_stores {
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 510px;
    object-fit: contain;
    object-position: 90% 100% center;
    display:inline-block;
}
.brands_section {
    margin: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.brands {
    width: 270px;
    height: 150px;
    margin: 30px;
    
}

/*School Blazer Page*/
.blazer_pics {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.intro_img_blazer {
    background-image: url("./partners3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}

.blazer_imgs {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.blazer_img_portrait {
    height: 200px;
    width: 175px;
    margin: 20px;
     box-shadow:  5px 5px 7px gray;
}
.blazer_img_landscape {
    height: 200px;
    width: 300px;
    margin: 20px;
    box-shadow:  5px 5px 7px gray;
}

.blazer_img_portrait2 {
    height: 200px;
    width: 150px;
    margin: 20px;
    box-shadow:  5px 5px 7px gray;
}

/*Collection Page*/
.collection_text5 {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
}

.slider-container {
    background-color: white;
    padding: 20px;
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden; /* to hide slides that go outside the container */
  }

  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: transform 0.5s ease-in-out;
    justify-content: flex-start;
    
  }

  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
  }

  .slider-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider-nav button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  .slider-container2 {
    background-color: white;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .slider2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
  }
  
  .slider-nav2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-nav2 button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  .slider-container3 {
    background-color: white;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .slider3 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
  }
  
  .slider-nav3 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-nav3 button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  

/*Work with Us */

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}
.main_container{
	width: 1200px;
	margin: 0 auto;
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	
	border-radius: 5px;
	border:1px solid black;
	font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px; 
	border:none;
}
/*Our mission*/

.mission_section {
    margin: 20px;
    display: flex;
}

.mission_section_text1 {
    margin: 20px;
    font-size: 35px;
    align-content: center;
    font-weight: 400;
}

.mission_section_text2 {
    margin: 20px;
    font-size: 20px;
    align-content: center;
    font-weight: 400;
}

.intro_img_mission {
    background-image: url("./mission_possible.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 500px;
    text-align: center;
    color:white;
}

.intro_img_mission2{
    background-image: url("./founder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 500px;
    text-align: center;
    color:white;
}

.button_orphanage {
	font-size: 25px;
	align-content: center;
	background-color: black;
	width : 500px;
	padding: 10px;
	margin: 0 auto;
    border-radius: 10px;
}
.text_button {
	color: white;
	text-align: center;
}

a:hover .button_orphanage {
    background-color: brown;
    transition: 0.5s ease;
    box-shadow: 5px 5px 7px gray;
}
/* Privacy Policy*/

.pp {
    margin: 100px;
    line-height: 40px;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
table, th, td {
    padding: 10px;
  }

  table {
    border-collapse: collapse;
    width: 95%;
  }
  th {
    height: 70px;
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }

  /*Press or Media page*/

  .intro_img_press {
    background-image: url("./press9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 800px;
    text-align: center;
    color:white;
}

.youtube1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.press_imgs {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.press_img_section{
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 20px 0px 20px 0px ;
}

.images_in_subsection {
    padding: 10px;
}

.quality_images {
    width: 200px;
}



